@import './_variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import './Spinner';
@import './CasinoItem';
@import './Title';
@import './Navigation';
@import './ErrorMessage';

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

body {
  background-color: $pirmary-color;
}

.carousel-wraper {
  display: flex;
  justify-content: center;
  max-width: 100%;
  text-align: center;
  padding: 10px;
}

.carousel {
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 100%;
  min-height: 21rem;
}

@media only screen and (max-width: 560px) {
  .carousel {
    flex-wrap: wrap;
    height: auto;
  }
}

.toggle-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.increment-button {
  font-size: 1rem;
  color: $toggle-button-text-color;
  border-radius: 50%;
  padding: 5px;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  background-color: $block-background-color;
  box-shadow: 1px 1px 3px $shadow-color;
  margin-left: -25px;
}

.decrement-button {
  font-size: 1rem;
  color: $toggle-button-text-color;
  border-radius: 50%;
  padding: 5px;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
  background-color: $block-background-color;
  box-shadow: 1px 1px 3px $shadow-color;
  margin-right: -25px;
}

.counter-link {
  color: $link-text;
  text-align: center;
  margin-top: 0.2rem;
  cursor: pointer;
  :hover {
    color: $link-text-hover;
  }
}

.not-avaible {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  max-width: 50rem;
}
