$pirmary-color: #f1f1f1;
$main-text-color: #1c1c1c;
$description-color: #707070;
$block-background-color: #ffffff;
$green-color: #55a270;
$casino-button-background: #ddeffe;
$casino-button-text: #2798f7;
$navigation-background: #d9d9d9;
